body {

}
p, a, span {
    font-family: Arial, sans-serif;
}
.orange_ring {
    background: #31384f;

    width: 1400px;
    height: 700px;
    border-radius: 0 0 700px 700px;
}
.brown_ring {
    background: #706e6f ;

    width: 1200px;
    height: 600px;
    border-radius: 0 0 600px 600px;
}
.brown_ring_2 {
    background: #fec738;

    width: 1000px;
    height: 500px;
    border-radius: 0 0 500px 500px;

    float: right;
}

.top_container {
    width: 1000px;
    height: 100px;
}

/* 功能键 */
.function_div {
    float: left;

    width:480px;
    height:40px;

    margin-left: 20px;
}
.function_div a {
    font-size: 18px;
    text-align: center;
    line-height: 40px;

    text-decoration:none;
}
.function_div a:link {
    color: #31384f;
}
.function_div a:hover {
    color: #f84f52;
}
.td_function a:visited {
    color: #31384f;
}
/* 登入登出栏 */
.account_div {
    float: left;

    width: 480px;
    height:40px;

    text-align: right;
    margin-right: 20px;
}
.account_div a {
    font-size: 18px;
    text-align: center;
    line-height: 40px;

    text-decoration:none;
}
.account_div a:link {
    color: #31384f;
}
.account_div a:hover {
    color: #f84f52;
}
.account_div a:visited {
    color: #31384f;
}

/* 欢迎语 */
.welcome_div_1 {
    float: left;

    width: 1000px;
    height:100px;
    text-align: left;

    margin-top: 140px;
}
.welcome_div_1 a {
    text-align: left;
    line-height: 140px;

    color: #FFFFFF;
    font-size: 50px;
    font-weight: bolder;

    margin-left: 320px;

    text-decoration: none;
}
.welcome_div_2 {
    float: left;

    width: 1000px;
    height:100px;

    text-align: center;
}
.welcome_div_2 a {
    text-align: left;
    line-height: 100px;

    color: #31384f;
    font-size: 100px;
    font-weight: bolder;

    margin-left: 30px;

    text-decoration: none;
}
/* 分页栏 */
.page_div {
    float: left;

    background-color: #ffffff;

    width: 1400px;
    height: 40px;

    align-content: center;

    margin-top: 120px;
}
.page_div_2{
    align-content: center;
    text-align: center;

    width: 1000px;
    height: 40px;

    border-bottom: #31384f solid 2px;
    margin-left: 200px;
}

.page_div_2 a {
    color: #160A0A;

    font-weight:bold;
    font-size:20px;
    text-decoration:none;

    text-align: center;
    line-height: 40px;
}

.page_div_2 span {
    color: #31384f;

    font-weight:bold;
    font-size:20px;
    text-decoration:none;
}
.page_div_2 span:link {
    color: #31384f;
}
.page_div_2 span:hover {
    color: #f84f52;
}
.page_div_2 span:visited {
    color: #31384f;
}

/*
主题色 1 >
#EAE3CB 乳白色
#160A0A 咖啡黑色
#F05D06 橙色

主题色 2 >
#EEE9D6 乳白色
#160A0A 咖啡黑色
#F9823E 橙色

其他配色 >
#120F11 藏蓝色
*/