* {
    scroll-behavior: smooth;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;

    height: 100%;
    background: #ffffff;
}

p {
    margin-block: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: Center;

    margin-top: 148px;

    /* background-color: #ffffff; */
    /* box-shadow: 2px 2px 2px #bdbdbd; */
}

/* 图瀑布 —————————————————————————————————————————————————— */
.fall_div {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
}

.image_div {
    margin: 20px 0;
    position: relative;
}

.image_div img {
    width: 400px;
    height: auto;
}

.image_buttons {
    display: flex;
    flex-direction: column;
    position: absolute;

    right: 5px;
    bottom: 5px;
}

.image_button {
    width: 40px;
    height: 40px;
    border-radius: 10px;

    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.8);

    text-align: center;
    line-height: 40px;
}