body{
    /*
    background-size: cover;
    background: url("../image/background/bg_black hole.jpg") no-repeat fixed;
    */
    background: #dddddd ;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: Center;

    margin-top: 140px;
    width: 1400px;

    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #bdbdbd;
}

a, p {
    font-family: Arial, sans-serif;
}

/* 按钮-返回上页
.location {
    width: 1200px;
    height: 40px;

    float: left;
    margin-top: 50px;

    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(50px);
}
.location a {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
}
.location a:link {
    color:#160A0A;
}
.location a:hover {
    color:#F05D06;
}
.location a:visited {
    color:#160A0A;
}
*/

/* 商品详情-盒子 */
.product_div {
    width:1200px;
    height: 500px;

    margin-top: 20px;
}
/* 商品图片div */
.picture_div {
    float: left;
    display: inline;

    width: 500px;
    height: 500px;
    position: relative;  /* 相对定位-必要: 为 功能-商品放大镜 服务 */

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #bdbdbd;
}
.picture_div img{
    width: 500px;
    border-radius: 10px;
}
.picture_div .layer {
    width: 200px;
    height: 200px;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    left: 0;
    top: 0;

    cursor: move;
    display: none;
}
/* 商品细节div */
.picture_detail {
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    position: absolute;
    left: 800px;
    top: 168px;
    z-index: 999;

    background-color: #fff;
    background-image: url("'/image/img_product/'+${product.picture}");
    background-size: 1250px 1250px;

    display: none;
  }

/* 商品信息div */
.information_div{
    float: left;
    display: inline;
    margin-left: 40px;

    width: 660px;
    height: 500px;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #bdbdbd;
}
/* 商品名div */
.product_name_div {
    float: left;
    display: inline;

    width: 660px;
    height: 50px;
    border-radius: 10px;

    color: #000000;
    text-align: left;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;

    background-color: rgba(255,255,255,0.4);
}
.product_name_div span{
    margin-left: 16px;
}
/* 商品描述div */
.product_description_div {
    float: left;
    display: inline;

    width: 660px;
    height: 400px;

    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(50px);
    border-top: 1px solid #b2b2b2 ;
}
.product_description_div .description_title{
    width: 660px;

    font-size: 18px;
    font-weight: bolder;

    margin-left: 16px;
}
.product_description_div .description_content{
    width: 610px;
    margin: 0 30px;

    font-size: 16px;
    text-indent: 2rem;
}
/* 按钮 */
.detail_button {
    display: inline-block;
    width: 200px;
    height: 42px;
    border-radius: 8px;
    margin: 0 0 8px 6px;

    border: 0;
    
    line-height: 36px;
    cursor: pointer;

    transition: background-color .3s;
}
.detail_button:hover{
    background-color: #bfc1c2;
}
.detail_button a{
    vertical-align: middle;

    font-size: 22px;
    font-weight: 200;
    color:#666666;

    text-decoration: none;

    transition: color .3s;
}
.detail_button:hover a{
    color: #ffffff;
}
.detail_button a img{
    vertical-align: middle;
    height: 30px;
}

/* 用户评价-标题 */
.evaluate_title_div {
    width:1200px;
    height:40px;

    background-color: #31384f;
    margin-top: 40px;
}
.evaluate_title_div a{
    margin-left: 30px;

    text-align:left;
    line-height: 40px;

    color: #ffffff;
    font-size: 20px;
    font-weight: bold;

    text-decoration: none;
}

/* 用户评价-正文 */
.evaluate_div {
    width: 1200px;
    height: 400px;

    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(50px);
}
/* 评价循环 */
.evaluate_circulate_div {
    width:830px;
    height:120px;

    font-size:small;
    border-width:1px;
    text-align:center;
}
.evaluate_circulate_div .td_picture{
    width: 130px;
}
.evaluate_circulate_div .td_evaluate_time_ip {
    text-align: right;
}