body{
    /*
    background-size: cover;
    background: url("../image/background/bg_black hole.jpg") no-repeat fixed;
    */
    background: #eeeeee ;
}

.span_warn {
    color: #f84f52;
    text-align: left;
}

.sign_container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: Center;
}

.sign_div {
    width:600px;

    border-width:0;
    border-style:none;
    margin-top: 80px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: Center;

    box-shadow: 5px 5px 5px #bdbdbd;
}

.td_sign_in {
    text-align:center;
    height:60px;
    font-size: large;
    font-weight: bold
}
.td_sign_in td{
    color: #31384f;
}

.td_cell {
    width: 200px;
    text-align: right;
}

.sign_button {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
。button {
    width: 45px;
    height: 25px;
    background-color: #31384f;
    color: white;
}
。button a:hover{
    background-color: #f84f52;
}