body {
    display: flex;

    align-items: center;
    justify-content: center;
}
p, a, span {
    font-family: frutiger, sans-serif;
}

.top_container {
    background: #ffffff;

    width: 1200px;
    height: 100px;
}
/* 图标 */
.icon_div {
    float: left;

    width:150px;
    height:100px;
}
.icon_div img{
    height: 100px;
}
/* 欢迎语,登入登出栏-总div */
.left_div {
    float: left;

    width: 650px;
    height: 100px;
}
/* 欢迎语 */
.welcome_div {
    float: left;

    width: 650px;
    height:60px;
    margin-left: 20px;
}
.welcome_div a {
    text-align:left;
    line-height: 60px;

    color: #f84f52;
    font-size: 20px;
    font-weight: bolder;

    text-decoration: none;
}
/* 登入登出栏 */
.account_div {
    float: left;
    margin-left: 20px;

    height:40px;
}
.account_div a {
    font-size: 15px;
    text-align:left;
    line-height: 40px;

    text-decoration:none;
}
.account_div a:link {
    color: #31384f;
}
.account_div a:hover {
    color: #f84f52;
}
.account_div a:visited {
    color: #31384f;
}

/* 功能键 */
.function_div {
    float: left;

    width:400px;
    height:40px;
    margin-right: 0;

    text-align: right;
}
.function_div a {
    font-size: 18px;
    font-weight: bold;
    text-align:right;
    line-height: 40px;

    text-decoration:none;
}
.function_div a:link {
    color: #31384f;
}
.function_div a:hover {
    color: #f84f52;
}
.td_function a:visited {
    color: #31384f;
}

/* 分页栏 */
.page_div {
    float: left;

    background-color: #eeeeee;

    width: 1200px;
    height: 40px;

    text-align: center;
    line-height: 40px;
}
.page_div_2{
    align-content: center;

    width: 1200px;
    height: 40px;

    border-bottom:#31384f solid 2px;
}

.page_div_2 a {
    color: #31384f;

    font-weight:bold;
    font-size:medium;
    text-decoration:none;
}

.page_div_2 span {
    color: #31384f;

    font-weight:bold;
    font-size:medium;
    text-decoration:none;
}
.page_div_2 span:link {
    color: #31384f;
}
.page_div_2 span:hover {
    color: #f84f52;
}
.page_div_2 span:visited {
    color: #31384f;
}

/*
构成主义 1 >
#EAE3CB 乳白色
#160A0A 咖啡黑色
#F05D06 橙色

构成主义 2 >
#EEE9D6 乳白色
#160A0A 咖啡黑色
#F9823E 橙色

其他配色 >
#120F11 藏蓝色

简约 >
#31384f 藏蓝色
#fec738 黄色
#b2b2b2 浅灰
#706e6f 深灰
#e7e5e1 鹅毛灰色-背景板
*/