body {
    display: flex;

    align-items: center;
    justify-content: center;
}
p, a, span {
    font-family: Arial, sans-serif;
}

.top_container {
    background: #160A0A;

    width: 1200px;
    height: 100px;
}
/* 图标 */
.icon_div {
    float: left;

    width:150px;
    height:100px;
}
.icon_div img{
    height: 100px;
}
/* 欢迎语,登入登出栏-总div */
.left_div {
    float: left;

    width: 750px;
    height: 100px;
}
/* 欢迎语 */
.welcome_div {
    float: left;

    width: 750px;
    height:60px;
    margin-left: 20px;
}
.welcome_div a {
    text-align:left;
    line-height: 60px;

    color: #F05D06;
    font-size: 20px;
    font-weight: bolder;

    text-decoration: none;
}
/* 登入登出栏 */
.account_div {
    float: left;
    margin-left: 20px;

    height:40px;
}
.account_div a {
    font-size: 15px;
    text-align:left;
    line-height: 40px;

    text-decoration:none;
}
.account_div a:link {
    color:#EAE3CB;
}
.account_div a:hover {
    color:#F05D06;
}
.account_div a:visited {
    color:#EAE3CB;
}

/* 功能键 */
.function_div {
    float: left;

    width:300px;
    height:40px;
    margin-right: 0;
}
.function_div a {
    font-size: 15px;
    text-align:right;
    line-height: 40px;

    text-decoration:none;
}
.function_div a:link {
    color:#EAE3CB;
}
.function_div a:hover {
    color:#F05D06;
}
.td_function a:visited {
    color:#EAE3CB;
}

/* 分页栏 */
.page_div {
    float: left;

    background-color: #EAE3CB;

    width: 1200px;
    height: 40px;

    text-align: center;
    line-height: 40px;
}
.page_div_2{
    align-content: center;

    width: 1200px;
    height: 40px;

    border-bottom:#160A0A solid 2px;
}

.page_div_2 a {
    color: #160A0A;

    font-weight:bold;
    font-size:medium;
    text-decoration:none;
}

.page_div_2 span {
    color: #160A0A;

    font-weight:bold;
    font-size:medium;
    text-decoration:none;
}
.page_div_2 span:link {
    color:#EAE3CB;
}
.page_div_2 span:hover {
    color:#F05D06;
}
.page_div_2 span:visited {
    color:#EAE3CB;
}

/*
主题色 1 >
#EAE3CB 乳白色
#160A0A 咖啡黑色
#F05D06 橙色

主题色 2 >
#EEE9D6 乳白色
#160A0A 咖啡黑色
#F9823E 橙色

其他配色 >
#120F11 藏蓝色
*/