<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <title>AbyBlog-Forum</title>
    <link rel="shortcut icon" href="/image/img_bg/web_icon.png">
    <link rel="stylesheet" type="text/css" href="/css/forum.css">
</head>
<body>
    <!-- 顶部 -->
    <div th:insert="/top.html"></div>
    <!-- 大模块（一）：话题区 -->
    <div class="container">
        <!-- （1）话题筛选条 -->
        <div class="topic_div">
            <!-- 话题开关 -->
            <div class="filter_div">
                <div class="filter">Serios</div>
                <div class="filter">Neutral</div>
                <div class="filter">Humorous</div>
            </div>
        </div>

        <!-- （2）话题展示 -->
        <div class="forum_container">
            <!-- 话题块 -->
            <div class="forum_div">
                <!-- 左边区: 头像、关注功能 -->
                <div class="forum_left">
                    <!-- 头像 -->
                    <div class="user_photo">
                        <img src="/image/img_bg/user.jpg" alt="">
                    </div>
                    <!-- 用户名 -->
                    <div class="user_name">
                        <p class="user_name">Aby_VoV</p>
                    </div>
                    <!-- 功能键：关注-->
                    <div class="forum_follow">
                        <a><b>Follow</b></a>
                    </div>
                </div>
                
                <!-- 右边区: 话题框、功能键（点赞、收藏、回复） -->
                <div class="forum_right">
                    <!-- 话题框 -->
                    <div class="forum_content"></div>
                    <!-- 功能键 -->
                    <div class="forum_function_div">
                        <!-- 点赞功能 -->
                        <div class="function_button">
                            <img src="/image/icon/icons8-heart-50.png" alt="">
                            <a>Like</a>
                        </div>
                        <!-- 收藏功能 -->
                        <div class="function_button">
                            <img src="/image/icon/icons8-bookmark-50.png" alt="">
                            <a>Collect</a>
                        </div>
                        <!-- 回复功能 -->
                        <div class="function_button">
                            <img src="/image/icon/icons8-forum-50.png" alt="">
                            <a>Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 大模块（二）：评论区 -->
    <div class="comment_container">
        <!-- 子区1：切换按钮：显示/隐藏 -->
        <div class="toggle_bar"><img src="image/icon/icons8-triangle-96-up-white.png" alt=""></div>
        
        <!-- 子区2：文本 -->
        <div class="text_bar">
            <!-- 文本框 -->
            <div class="wrapper">
                <textarea name="" id="text" placeholder="各抒己见——" maxlength="400"></textarea>
                <button>发布</button>
            </div>
            
            <!-- 字数统计 -->
            <div class="wrapper">
                <span class="total">0/400字</span>
            </div>
        </div>
    </div>

    <!-- js -->
    <script type="text/javascript" src="/js/forum.js"></script>
</body>
</html>