<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>AbyBlog-Index</title>
	<link rel="shortcut icon" href="/image/img_bg/web_icon.png">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
<div class="container">
	<!-- 顶部 -->
	<div class="top" th:insert="/top.html"></div>

	<!-- 商品 -->
	<div class="introduce_div">
		<p>Welcome to AbyBlog!</p>
		<p>This showcases my hobbies and ideas</p>
		<p>You are also welcome to leave messages and discuss with me!</p>
		<img src="/image/img_bg/typhon.gif" alt="" style="width: 300px; height: 300px">
	</div>
</div>
</body>
</html>