<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <title>AbyBlog-Inspiration</title>
    <link rel="shortcut icon" href="/image/img_bg/web_icon.png">
    <link rel="stylesheet" type="text/css" href="/css/inspiration.css">
</head>

<body>
    <!-- 顶部 -->
    <div th:insert="/top.html"></div>

    <!-- 侧边栏 -->
    <div th:insert="/sidebar.html"></div>

    <!-- 网页主要内容 -->
    <div class="container">
        <!-- 图瀑布 -->
        <div class="fall_div" id="fall_div">
        </div>
    </div>

    <!-- 功能: 电梯 -->
    <div class="elevator">
        <ul class="elevator_list">
            <li id="backTop"><img src="/image/icon/icons8-top-100-gray.png" alt=""></li>
        </ul>
    </div>

    <!-- 底部 -->
    <div class="bottom" th:insert="/bottom.html"></div>

    <!-- js -->
    <script type="text/javascript" src="/js/inspiration.js"></script>
</body>
</html>