<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>AbyBlog-Register: 欢迎登录！</title>
    <link rel="shortcut icon" href="/image/img_bg/web_icon.png">
    <link rel="stylesheet" type="text/css" href="/css/sign.css">
    <script src="/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/login_ajax.js"></script>
</head>

<body>
<div class="sign_container">
    <div id="top" th:insert="top.html"></div>

    <div class="sign_div">
        <div>
            <div class="div_sign_in" colspan="3">SIGN IN</div>
        </div>
        <div>
            <div class="div_cell">Account</div>
            <div class="div_cell">
                <input type="text" name="email" id="username" value="E-mail" />
            </div>
            <div class="div_cell">
                <span class="span_warn"></span>
            </div>
        </div>

        <div>
            <div class="div_cell">Password</div>
            <div class="div_cell">
                <input type="password" name="password" value="Password" />
            </div>
            <div class="div_cell">
                <span class="span_warn"></span>
            </div>
        </div>

        <div class="sign_button">
            <div>
                <input type="submit" name="s" value="登录"/>
            </div>
            <span class="span_warn"></span>
        </div>

    </div>
</div>

</body>
</html>