<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome to AbyBlog</title>
    <link rel="shortcut icon" href="/image/img_bg/web_icon.png">
    <link rel="stylesheet" type="text/css" href="/css/sign.css">
    <script src="/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/login_ajax.js"></script>
</head>

<body>
<div class="sign_container">
    <div id="top" th:insert="top.html"></div>

    <div class="sign_div">
        <div class="left_div"></div>
        <!-- 右侧 -->
        <div class="right_div">
            <p>Welcome to <span>AbyBlog</span></p>

            <!-- 账号部分 -->
            <div class="account_div">
                <!--
                <i class="iconfont icon-email"></i>
                -->
                <input placeholder="Account">
            </div>

            <!-- 密码部分 -->
            <div class="password_div">
                <!--
                <i class="iconfont icon-mima"></i>
                -->
                <input placeholder="Password">
            </div>

            <button type="submit" name="s">Log in</button>
            <!-- 登录警告文字 -->
            <span class="span_warn"></span>
            <!-- 跳转: 注册页面 -->
            <a href="#">Go to Register</a>
        </div>
    </div>
</div>

</body>
</html>