<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <title>AbyBlog-ProductDetail: 为你展示商品详情！</title>
	<link rel="stylesheet" type="text/css" href="/css/product_detail.css">
    <link rel="shortcut icon" href="/image/img_bg/web_icon.png">
    <title>AbyBlog-Product Detail</title>
</head>

<body>
<!-- 顶部 -->
<div class="top" th:insert="/top.html"></div>

<!-- 网页主要内容 -->
<div class="container">
    <!-- 按钮-返回上页
    <div class="location">
        <a href="javascript:history.back(1)">&nbsp;&nbsp;Back</a>
    </div>
    -->

    <!-- 商品详情-盒子 -->
    <div class="product_div">
        <!-- 商品图片 -->
        <div class="picture_div">
            <img th:src="'/image/img_product/'+${product.picture}" alt="">
        </div>
        <!-- 商品信息 -->
        <div class="information_div">
            <!-- 商品名 -->
            <div class="product_name_div">
                <span th:text="${product.productname}">
            </div>

            <!-- 商品说明 -->
            <div class="product_description_div">
                <p class="description_title">商品描述</p>
                <p class="description_content" th:text="${product.illustrate}">
                <p class="description_title">商品价格</p>
                <p class="description_content" th:text="${product.price}"></p>
            </div>
            
            <!-- 按钮-收藏 -->
            <button class="detail_button" data-name="det_btn_collect" onclick="">
                <a th:href="'/collect/addcollect?productid='+${product.productid}">
                    <img src="/image/icon/icons8-star-96.png" alt="">
                    Collect
                </a>
            </button>

            <!-- 按钮-加购 -->
            <button class="detail_button" data-name="det_btn_cart" onclick="">
                <a th:href="'/cart/addcart?productid='+${product.productid}">
                    <img src="/image/icon/icons8-cart-96.png" alt="">
                    Add to Cart
                </a>
            </button>

        </div>
    </div>

    <!-- 用户评价-标题 -->
    <div class="evaluate_title_div">
        <a>Evaluation</a>
    </div>

    <!-- 用户评价-正文 -->
    <div class="evaluate_div" th:each="shoplist:${shoplists}">

        <!--评价循环开始 -->
        <div class="evaluate_circulate_div">
            <div>
                <div class="td_picture" rowspan=3>
                    <img th:src="'/picture/'+${product.picture}" alt="">
                </div>

                <div>整体评价
                    <th:block th:each="i: ${#numbers.sequence(1, shoplist.pjstar)}">
                        <img src="/image/review_star_fen.gif" alt="">
                    </th:block>
                    <th:block th:each="i: ${#numbers.sequence(shoplist.pjstar,4)}">
                        <img src="/image/review_star_fen_gray.gif" alt="">
                    </th:block>
                </div>

                <div class="td_evaluate_time_ip">
                    评价时间
                    <span th:text="${shoplist.pjtime}">
                    &nbsp;&nbsp;&nbsp;
                    IP
                    <span th:text="${shoplist.pjip}">
                </div>
            </div>

            <div>
                <a th:text="'评价内容：'+${shoplist.pjcontent}"></a>
            </div>

            <div>
                <a th:text="'商家回复：'+${shoplist.pjreply}"></a>
            </div>
        </div>
        <!--评价循环结束 -->
    </div>
</div>

<script>
(function () {
    const det_btns = document.querySelectorAll('.detail_button')
    const det_btn_imgs = document.querySelectorAll('.detail_button a img')

    det_btns[0].addEventListener('mouseenter', function () {
        det_btn_imgs[0].src = '/image/icon/icons8-star-30.png'
    })
    det_btns[0].addEventListener('mouseleave', function () {
        det_btn_imgs[0].src = '/image/icon/icons8-star-96.png'
    })
    
    det_btns[1].addEventListener('mouseenter', function () {
        det_btn_imgs[1].src = '/image/icon/icons8-cart-30.png'
    })
    det_btns[1].addEventListener('mouseleave', function () {
        det_btn_imgs[1].src = '/image/icon/icons8-cart-96.png'
    })
})();
</script>

</body>
</html>