<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>AbyBlog-Register: 欢迎注册！</title>
    <link rel="shortcut icon" href="/image/img_bg/web_icon.png">
    <link rel="stylesheet" type="text/css" href="/css/sign.css">
    <script src="/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/regist_ajax.js"></script>
</head>

<body>
<div class="sign_container">
    <div id="top" th:insert="top.html"></div>

    <div class="sign_div">
        <form>
            <table>
                <tr>
                    <td class="td_sign_in" colspan="3">Sign Up</td>
                </tr>
                <tr>
                    <td class="td_cell">Account</td>
                    <td class="td_cell">
                        <input type=text name="email" />
                    </td>
                    <td class="td_cell">
                        <span class="span_warn" id="email_msg"></span>
                    </td>
                </tr>

                <tr>
                    <td class="td_cell">Password</td>
                    <td class="td_cell">
                        <input type="password" />
                    </td>
                    <td class="td_cell">
                        <span id="passw1_msg"></span>
                    </td>
                </tr>

                <tr>
                    <td class="td_cell">Confirm Password</td>
                    <td class="td_cell">
                        <input type=password />
                    </td>
                    <td class="td_cell">
                        <span id="passw2_msg"></span>
                    </td>
                </tr>
            </table>

            <div class="sign_button">
                <td colspan="3">
                    <!-- style="text-align:center;height:60px;" -->
                    <input type=submit name=s value="注册">
                </td>
            </div>

        </form>
    </div>
</div>

</body>
</html>
